[submodule "Lamp/vendor/glfw"]
	path = Lamp/vendor/glfw
	url = https://github.com/ChunkTreasure1/glfw
[submodule "Lamp/vendor/imgui"]
	path = Lamp/vendor/imgui
	url = https://github.com/ChunkTreasure1/imgui
[submodule "Lamp/vendor/Wire"]
	path = Lamp/vendor/Wire
	url = https://github.com/ChunkTreasure1/Wire
[submodule "Lamp/vendor/imgui-node-editor"]
	path = Lamp/vendor/imgui-node-editor
	url = https://github.com/ChunkTreasure1/imgui-node-editor
